# Dépendances locales
node_modules
.pnpm
.pnpm-store

# Logs
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Caches
.cache
dist
.vite

# Environnements locaux
.env
.env.*

# Configuration de l’IDE
.vscode
.idea

# OS / système
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Tests
coverage
*.test.*
__tests__/
__mocks__/

# Autres fichiers inutiles
*.swp
*.tmp